{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn-add-object">{{ button_label|default('Zapisz') }}</button>
    <a href="{{ path('app_scanned_object_index') }}" class="btn-delete-object">Powrót</a>
{{ form_end(form) }}
