{% extends 'base.html.twig' %}

{% block title %}Shperacze{% endblock %}

{% block body %}
    <h1>Lista Shperaczy</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Ksywa</th>
                <th>Numer</th>
                <th>Aktywny</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for shperacze in shperaczes %}
            <tr>
                <td>{{ shperacze.nickname }}</td>
                <td>{{ shperacze.shperNumber }}</td>
                <td>{{ shperacze.active ? 'Tak' : 'Nie' }}</td>
                <td>
                    <a href="{{ path('app_shperacze_show', {'id': shperacze.id}) }}">Pokaż</a>
                    <a href="{{ path('app_shperacze_edit', {'id': shperacze.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Brak wpisów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_shperacze_new') }}">Dodaj</a>
{% endblock %}
