{% extends 'base.html.twig' %}

{% block title %}Shperacze{% endblock %}

{% block body %}
    <h1>Shperacze</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ shperacze.id }}</td>
            </tr>
            <tr>
                <th>Ksywa</th>
                <td>{{ shperacze.nickname }}</td>
            </tr>
            <tr>
                <th>Numer</th>
                <td>{{ shperacze.shperNumber }}</td>
            </tr>
            <tr>
                <th>Data stworzenia</th>
                <td>{{ shperacze.dateCreated ? shperacze.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Data modyfikacji</th>
                <td>{{ shperacze.dateModified ? shperacze.dateModified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Aktywny</th>
                <td>{{ shperacze.active ? 'Tak' : 'Nie' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_shperacze_index') }}" class="btn-list btn-add-object">Powrót</a>

    <a href="{{ path('app_shperacze_edit', {'id': shperacze.id}) }}" class="btn-list btn-delete-object">Edytuj</a>

    {{ include('shperacze/_delete_form.html.twig') }}
{% endblock %}
