{% extends 'base.html.twig' %}

{% block title %}Shperacze{% endblock %}

{% block body %}
    <h1>Shperacze</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shperacze.id }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ shperacze.nickname }}</td>
            </tr>
            <tr>
                <th>Shper_number</th>
                <td>{{ shperacze.shperNumber }}</td>
            </tr>
            <tr>
                <th>Date_created</th>
                <td>{{ shperacze.dateCreated ? shperacze.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_modified</th>
                <td>{{ shperacze.dateModified ? shperacze.dateModified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ shperacze.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_shperacze_index') }}">back to list</a>

    <a href="{{ path('app_shperacze_edit', {'id': shperacze.id}) }}">Edytuj</a>

    {{ include('shperacze/_delete_form.html.twig') }}
{% endblock %}
