{% extends 'base.html.twig' %}

{% block title %}Frakcja{% endblock %}

{% block body %}
    <h1>Lista frakcji</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nazwa frakcji</th>
                <th>Opis frakcji</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for fraction in fractions %}
            <tr>
                <td>{{ fraction.fractionName }}</td>
                <td>{{ fraction.fractionDescription }}</td>
                <td>
                    <a href="{{ path('app_fraction_show', {'id': fraction.id}) }}" class="btn-list btn-add-object">Pokaż</a>
                    <a href="{{ path('app_fraction_edit', {'id': fraction.id}) }}" class="btn-list btn-delete-object">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Brak wpisów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fraction_new') }}" class="btn-add-object">Dodaj</a>
{% endblock %}
