{% extends 'base.html.twig' %}

{% block title %}Fraction{% endblock %}

{% block body %}
    <h1>Fraction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ fraction.id }}</td>
            </tr>
            <tr>
                <th>Nazwa frakcji</th>
                <td>{{ fraction.fractionName }}</td>
            </tr>
            <tr>
                <th>Opis frakcji</th>
                <td>{{ fraction.fractionDescription }}</td>
            </tr>
            <tr>
                <th>Data stworzenia</th>
                <td>{{ fraction.dateCreated ? fraction.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Data modyfikacji</th>
                <td>{{ fraction.dateModified ? fraction.dateModified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fraction_index') }}"  class="btn-list btn-add-object">Powrót</a>

    <a href="{{ path('app_fraction_edit', {'id': fraction.id}) }}"  class="btn-list btn-delete-object">Edytuj</a>

    {{ include('fraction/_delete_form.html.twig') }}
{% endblock %}
